//Sass Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$blue: #3498db;
$clouds: #ecf0f1;

// Implementation
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(black, 0.7);
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &--item {
    display: block;
    width: 25%;
    padding-bottom: 25%;

    @media (min-width:320px) {
      /* smartphones, iPhone, portrait 480x320 phones */
      width: 100%;
      padding-bottom: 100%;
    }

    @media (min-width:481px) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      width: 50%;
      padding-bottom: 50%;
    }

    @media (min-width:641px) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      width: 50%;
      padding-bottom: 50%;
    }

    @media (min-width:961px) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      width: 33.3333%;
      padding-bottom: 33.3333%;
    }

    @media (min-width:1025px) {
      /* big landscape tablets, laptops, and desktops */
      width: 33.3333%;
      padding-bottom: 33.3333%;
    }

    @media (min-width:1281px) {
      /* hi-res laptops and desktops */
      width: 25%;
      padding-bottom: 25%;
    }

    position: relative;

    overflow: hidden;

    cursor: pointer;


    &--data {
      transition: 0.3s ease-out all;
      position: absolute;

      bottom: 5%;
      left: 5%;

      color: $clouds;
      font-weight: 100;
      letter-spacing: 0.1em;
      background-color: rgba(black, 0.7);
      padding: 10px;

      border-radius: 4px;



      .date {
        font-size: 0.7em;
      }

      .name {
        margin-bottom: 8px;
      }
    }

    &--content {
      transition: 0.3s ease-out all;
      position: absolute;
      top: -5%;
      left: -5%;
      right: -5%;
      bottom: -5%;

      background-position: center center;
      background-size: cover;

      filter: grayscale(100%);

    }

    &:hover {
      .grid--item--content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        filter: grayscale(0);
        filter: sepia(60%);
      }
      .grid--item--data {
        background-color: $blue;
        bottom: 7%;
        left: 7%;
      }

    }


  }
}

.video-player {
  display: block;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.full-screen-video {
  height: 100%;
  max-width: 100%;
}

.breadcrum-bar {
  width: 100vw;
  height: 60px;
  padding: 20px;
  background-color: $blue;

  display: flex;

  .text {
    line-height: 1;
    margin-right: 10px;
    color: $clouds;
    text-decoration: none;
  }

}

